<div class="all-chats">
    <button class="btn btn-link" ui-sref="chat.new" >
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs"  data-translate="littletimmyApp.chat.home.createLabel">
            Create new Chat
        </span>
    </button>
    <div ui-sref-active="active" ng-repeat="chat in vm.chats track by chat.id" ui-sref="chat-detail({id:chat.id})" class="chat-blocks" ng-if="vm.chats.length > 0">
        <img src="{{chat.owner.imagen}}" class="img-chat" />  <span>{{chat.name}}</span> <span style="float:right; font-size:12px; font-weight:bold"> </span>
    </div>
    <div class="help-chat" ng-if="vm.chats.length == 0">
        <div style="text-align: center; color: #c5c5c5;text-shadow: 1px 4px 6px #f4f4f4, 0 0 0 #000,1px 4px 6px #f4f4f4;">
            <span style="flex: 1;"><i class="ion-ios-chatboxes-outline" style="font-size: 70px;" aria-hidden="true"></i></span>
            <span style="flex: 1;"><h3>No chats available</h3></span>
        </div>
    </div>
</div>
<div ui-view="chat-detail" class="chat-detail">
    <div class="help-chat">
        <div style="text-align: center; color: #c5c5c5;text-shadow: 1px 4px 6px #f4f4f4, 0 0 0 #000,1px 4px 6px #f4f4f4;">
            <span style="flex: 1;"><i class="ion-ios-chatboxes-outline" style="font-size: 70px;" aria-hidden="true"></i></span>
            <span style="flex: 1;"><h3>SELECT A CHAT TO TALK</h3></span>
        </div>
    </div>
</div>

<style>
    .help-chat {
        height: 100%;
        margin: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .help-chat h3{
        display: block;
        position: relative;
    }
    .chat-detail div::-webkit-scrollbar {
        width: 8px;
    }

    .chat-detail div::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #eee;
    }

    .chat-detail div::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #888;
    }
    .chat-detail div::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(100,100,100,0.4);
    }

    .all-chats{
        display: block;
        height: 93vh;
        width: 21%;
        position: relative;
        float: left;
        //border-right: 1px solid rgba(93, 93, 93, 0.2);
        border-right: 1px solid rgba(93, 93, 93, 0.1);
    }
    .chat-blocks {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right:5px;
        padding-left:5px;
    }

    .chat-blocks:hover{
        transition:0.4s;
        background-color:#ebebeb;
        cursor:pointer;
    }

    .chat-detail{
        width:calc(100% - 21%);
        float: left;
        display: inline-block;
        position: relative;
        //padding: 20px 0px 20px 20px;
        height: calc(100vh - 50px);
        max-height: calc(100vh - 50px);
        min-height: calc(100vh - 50px);
        overflow:hidden;
        background: #ebebeb;
    }

    .img-chat{
        width:60px;
        height:60px;
        border-radius:100%;
        object-fit: cover;
        margin-right:10px;
    }

    .active{
        background-color:#ebebeb;
    }

    .container-fluid{
        padding-top: 50px !important;
        padding-left:0 !important;
        padding-right:0 !important;
        overflow: hidden;
        max-height: 100vh;
    }
</style>
