<div class="all-chats">
    <button class="btn btn-link" ui-sref="chat.new" >
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs"  data-translate="littletimmyApp.chat.home.createLabel">
                        Create new Chat
                    </span>
    </button>
    <div ui-sref-active="active" ng-repeat="chat in vm.chats track by chat.id" ui-sref="chat-detail({id:chat.id})" class="chat-blocks">
        <img src="{{chat.owner.imagen}}" class="img-chat" />  <span>{{chat.name}}</span> <span style="float:right; font-size:12px; font-weight:bold"> {{chat.users.length}}/10 </span>
    </div>
</div>
<div ui-view="chat-detail" class="chat-detail">

</div>

<style>

    .chat-detail div::-webkit-scrollbar {
        width: 8px;
    }

    .chat-detail div::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #eee;
    }

    .chat-detail div::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #888;
    }
    .chat-detail div::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(100,100,100,0.4);
    }

    html, body{
        height:100%;
    }
    .all-chats{
        display: block;
        height: 93vh;
        width: 21%;
        position: relative;
        float: left;
        border-right: 1px solid rgba(93, 93, 93, 0.2);
    }
    .chat-blocks {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right:5px;
        padding-left:5px;
    }

    .chat-blocks:hover{
        transition:0.4s;
        background-color:#ebebeb;
        cursor:pointer;
    }

    .chat-detail{
        width:calc(100% - 21%);
        float: left;
        display: inline-block;
        position: relative;
        //padding: 20px 0px 20px 20px;
        height:92vh;
        max-height: 92vh;
        min-height: 92vh;
        overflow:hidden;
        background: #ebebeb;
    }

    .img-chat{
        width:60px;
        height:60px;
        border-radius:100%;
        object-fit: cover;
        margin-right:10px;
    }

    .active{
        background-color:#ebebeb;
    }

    .container-fluid{
        padding-top: 50px !important;
        padding-left:0 !important;
        padding-right:0 !important;
        overflow: hidden;
        max-height: 100vh;
    }
</style>

<!--
<div>
    <h2 data-translate="littletimmyApp.chat.home.title">Chats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="chat.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="littletimmyApp.chat.home.createLabel">
                        Create new Chat
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'littletimmyApp.chat.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="littletimmyApp.chat.name">Name</span></th>
                    <th><span data-translate="littletimmyApp.chat.creationDate">Creation Date</span></th>
                    <th><span data-translate="littletimmyApp.chat.owner">Owner</span></th>
                    <th><span data-translate="littletimmyApp.chat.users">Users</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chat in vm.chats track by chat.id">
                    <td><a ui-sref="chat-detail({id:chat.id})">{{chat.id}}</a></td>
                    <td>{{chat.name}}</td>
                    <td>{{chat.creationDate | date:'medium'}}</td>
                    <td>
                        {{chat.owner.id}}
                    </td>
                    <td>
                        <span ng-repeat="users in chat.users">
                            {{users.id}}{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="chat-detail({id:chat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chat.edit({id:chat.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chat.delete({id:chat.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
-->
