<div>
    <div class="chat-title"><h3>{{vm.chat.name}}</h3><button ng-click="vm.addMember()">ADD MEMBERS</button></div>
    <div class="messages" id="messagesId">
        <div class="messages-block clearfix" ng-repeat="message in vm.chat.messages">
            <span ng-class="{true: 'logged-msg',false: 'normal-msg'}[message.sender.login == account.login]">
                <div>
                    <span class="message-text" ng-bind-html="message.text"></span>
                    <!--<small style="font-size: 10px; color: #f1f1f1;">{{message.sendDate | date: 'dd/MM/yyyy'}}</small>-->
                </div>
                <div>
                    <span class="message-sender">{{message.sender.login}}</span>
                </div>
            </span>
        </div>
    </div>
    <div class="chat-input" style="background: #fff;border-top: 1px solid rgba(93, 93, 93, 0.2);">
        <div style="width: 90%; display: inline-block; vertical-align: top;">
            <textarea id="messageInputId" class="message-input" ng-model="msg" value=""
                      style="max-width: 100%; word-wrap: break-word" placeholder="Send a message..."
                      minlength="1" maxlength="1500"></textarea>
        </div>
        <div class="button-send">
            <button class="ion-paper-airplane" ng-click="vm.post(msg)"></button>
        </div>
        <!--<input ng-model="msg" my-enter="vm.post(msg)" type="text" placeholder="Escribe tu mensaje."/>-->
    </div>
</div>
<style>
    .chat-title h3{
        flex: 1;
    }
    .button-send{
        width: 9%;
        display: inline-flex;
        vertical-align: top;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .chat-input textarea{
        color: #444;
        width: 100%;
        display: block;
        height: 50px;
        vertical-align: middle;
        line-height: 16px;

        max-height: 234px;

        resize: none;
        border-right:none;
        border-left:none;
        border-bottom:none;
        border-top: none;
        font-size:18px;
        padding: 15px;
    }
    .message-text{
        white-space: pre-wrap;
    }
    .message-input{
        width:50%;
        height: 50px;
        border-right:none;
        border-left:none;
        border-bottom:none;
        //border-top: 1px solid rgba(93, 93, 93, 0.2);
        font-size:15px;
        //padding-left:10px;
        overflow-y: auto;
        padding-top: 6px;
        vertical-align: top;
    }
    .message-sender{
        font-family: monospace;
        font-size: 13px;
        color: rgb(0, 0, 0);
    }
    .chat-title{
        width:100%;
        border-bottom: 1px solid rgba(93, 93, 93, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        //background: #ebebeb;
        padding: 20px;

        display: flex;

        background: rgba(3, 73, 123, 0.77);
        padding: 20px;
    }
    .messages{
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        right: 0;
        //bottom: 50px;
        bottom: 50px;
        top: 67px;
    }
    .chat-title h3{
        margin: 0;
    }
    .messages-block{
        display:block;
        width:100%;
        //height:98%;
        margin:5px;
        font-size: 16px;
    }
    .chat-input{
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
        z-index: 44;
        background: #ebebeb;
    }
    .chat-input input{
        width:100%;
        height:50px;
        border-right:none;
        border-left:none;
        border-bottom:none;
        border-top: 1px solid rgba(93, 93, 93, 0.2);
        font-size:18px;
        padding-left:10px;
    }

    .logged-msg .message-sender{
       //float: right;
    }

    .logged-msg .message-text{
        //float: right;
    }

    .logged-msg{
        float: right;
        background-color: #27ae60;
        color:white;


        border-radius: 5px;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        margin: 10px;
        //max-width: 465px;
        max-width: 80%;

        word-break: break-all;
    }

    .normal-msg{
        float: left;
        //background-color:#03497B;
        background-color: #0089ea;
        color:white;

        border-radius: 5px;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        margin: 10px;
        max-width: 80%;

        word-break: break-all;
    }
    .clearfix:after{
        content: "";
        display:block;
        clear: both;
        position: relative;
    }
</style>

<!--

<div>
    <h2><span data-translate="littletimmyApp.chat.detail.title">Chat</span> {{vm.chat.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="littletimmyApp.chat.name">Name</span></dt>
        <dd>
            <span>{{vm.chat.name}}</span>
        </dd>
        <dt><span data-translate="littletimmyApp.chat.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.chat.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="littletimmyApp.chat.owner">Owner</span></dt>
        <dd>
            {{vm.chat.owner.id}}
        </dd>
        <dt><span data-translate="littletimmyApp.chat.users">Users</span></dt>
        <dd>
            <span ng-repeat="users in vm.chat.users">
                {{users.id}}{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="chat-detail.edit({id:vm.chat.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
-->
