<div class="fixed-user">
    <div class="col-md-offset-2 fixed-user-container">
        <div ng-click="scroll()" class="fixed-user-image">
            <img class="imgcirculo" style="border-radius:100%; border:0px;" height="100%" width="100%" src="{{vm.user.imagen}}"/>
        </div>
        <div ng-click="scroll()" style="margin-left:10px;" class="fixed-user-name">{{vm.user.firstName}} {{vm.user.lastName}}</div>

        <div style="float:right">
        <button class="btn redondo fixedbarbuttons"><i class="mdi mdi-24px mdi-account-plus"></i></button>
        <button class="btn redondo fixedbarbuttons"><i class="mdi mdi-24px mdi-notification-clear-all"></i></button>
        <button class="btn redondo fixedbarbuttons"><i class="mdi mdi-24px mdi-wechat"></i></button>
        </div>
    </div>
</div>
<div class="row topcabecera">
        <div class="col-md-12 cabeceraperfil">
            <div class="circulo"><img class="imgcirculo" height="100%" width="100%" src="{{vm.user.imagen}}"/></div>
            <h1>{{vm.user.firstName}} {{vm.user.lastName}}</h1>
        </div>
        <div class="col-md-12 cabeceraperfil">
            <button class="btn redondo" uib-popover="Añadir a contactos" popover-trigger="mouseenter" popover-placement="bottom"><i class="mdi mdi-24px mdi-account-plus"></i></button>
            <button class="btn redondo" uib-popover="Recomendar a este usuario" popover-trigger="mouseenter" popover-placement="bottom"><i class="mdi mdi-24px mdi-notification-clear-all"></i></button>
            <button class="btn redondo" uib-popover="Enviar un mensaje" popover-trigger="mouseenter" popover-placement="bottom"><i class="mdi mdi-24px mdi-wechat"></i></button>
        </div>
    </div>

            <div class="col-md-8 col-md-offset-2 card cabecera" style="text-align:center">
                <div class="row titulohoja">
                <div class="col-md-4">
                    <div>
                        <i class="ion-location ioniconmedium "></i>
                        <span class="centervertical"> De
                            <span buttons="no" editable-text="vm.user.ciudad" e-form="userCity" onaftersave="vm.saveContent(vm.user)">{{ vm.user.ciudad || '' }}</span>
                            <button class="editbuttons" ng-click="userCity.$show()" ng-if="account.login == vm.user.login" ng-hide="userCity.$visible">
                                <i class="ion-edit" style=""></i>
                            </button>
                       </span>
                    </div>
                       <!--<a editable-text="vm.user.ciudad" onaftersave="vm.saveContent(vm.user)" >{{vm.user.ciudad}}</a></span></div>-->
                </div>
                <div class="col-md-4">
                    <div>
                        <i class="ion-ios-briefcase ioniconmedium"></i> <span class="centervertical"> {{ vm.trabajoactual.cargo || "Desempleado" }} <span ng-if="vm.trabajoactual"> en </span><a>{{vm.trabajoactual.empresa.nombre}}</a></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <i class="ion-university ioniconmedium"></i> <span class="centervertical">{{ vm.estudioactual.actualmente && 'Estudiando' || 'Titulado en ' }} {{vm.estudioactual.curso}} en <a>{{vm.estudioactual.centro_estudios.nombre}}</a></span>
                    </div>
                </div>
                </div>
                <div class="row datospersonales">
                    <div class="col-md-4">
                        <div>
                            <i class="mdi mdi-mail-ru" style="color:#4D4D4D; font-size:28px;"> </i><span style="vertical-align:super"><b><a target="_blank" href="mailto:{{vm.user.email}}" buttons="no" editable-text="vm.user.email" e-form="userMail" onaftersave="vm.saveContent(vm.user)">{{vm.user.email}}</a></b></span>
                            <button class="editbuttons2" ng-click="userMail.$show()" ng-if="account.login == vm.user.login" ng-hide="userMail.$visible">
                                <i class="ion-edit" style=""></i>
                            </button>
                        </div>
                    </div>
                    <div ng-if="vm.user.web_personal" class="col-md-4">
                        <div>
                            <i class="mdi mdi-web" style="color:#166199; font-size:28px;"> </i><span style="vertical-align:super"><b><a target="_blank" href="http://{{vm.user.web_personal}}" buttons="no" editable-text="vm.user.web_personal" e-form="userWeb" onaftersave="vm.saveContent(vm.user)">{{vm.user.web_personal}}</a></b></span>
                            <button class="editbuttons2" ng-click="userWeb.$show()" ng-if="account.login == vm.user.login" ng-hide="userWeb.$visible">
                                <i class="ion-edit" style=""></i>
                            </button>
                        </div>
                    </div>
                    <div ng-if="vm.user.skype" class="col-md-4">
                        <div>
                            <i class="mdi mdi-skype" style="color:#00ABE9; font-size:28px;"> </i><span style="vertical-align:super" buttons="no" editable-text="vm.user.skype" e-form="userSkype" onaftersave="vm.saveContent(vm.user)"><b>{{vm.user.skype}}</b></span>
                            <button class="editbuttons2" ng-click="userSkype.$show()" ng-if="account.login == vm.user.login" ng-hide="userSkype.$visible">
                                <i class="ion-edit" style=""></i>
                            </button>
                        </div>
                    </div>
                    <div ng-if="vm.user.twitter" class="col-md-4">
                        <div>
                            <i class="mdi mdi-twitter" style="color:#1C9BEA; font-size:28px;"> </i><span style="vertical-align:super"><b><a target="_blank" href="http://www.twitter.com/{{vm.user.twitter}}" buttons="no" editable-text="vm.user.twitter" e-form="userTwitter" onaftersave="vm.saveContent(vm.user)">{{vm.user.twitter}}</a></b></span>
                            <button class="editbuttons2" ng-click="userTwitter.$show()" ng-if="account.login == vm.user.login" ng-hide="userTwitter.$visible">
                                <i class="ion-edit" style=""></i>
                            </button>
                        </div>
                    </div>
                    <div ng-if="vm.user.facebook" class="col-md-4">
                        <div>
                            <i class="mdi mdi-facebook-box" style="color:#3B5998; font-size:28px;"> </i><span style="vertical-align:super"><b><a target="_blank" href="http://www.facebook.com/{{vm.user.facebook}}" buttons="no" editable-text="vm.user.facebook" e-form="userFacebook" onaftersave="vm.saveContent(vm.user)">{{vm.user.facebook}}</a></b></span>
                            <button class="editbuttons2" ng-click="userFacebook.$show()" ng-if="account.login == vm.user.login" ng-hide="userFacebook.$visible">
                                <i class="ion-edit" style=""></i>
                            </button>
                        </div>
                    </div>
                    <div ng-if="vm.user.github" class="col-md-4">
                        <div>
                            <i class="mdi mdi-github-circle" style="color:#0D2636; font-size:28px;"> </i><span style="vertical-align:super"><b><a target="_blank" href="http://www.facebook.com/{{vm.user.github}}" buttons="no" editable-text="vm.user.github" e-form="userGithub" onaftersave="vm.saveContent(vm.user)">{{vm.user.github}}</a></b></span>
                            <button class="editbuttons2" ng-click="userGithub.$show()" ng-if="account.login == vm.user.login" ng-hide="userGithub.$visible">
                                <i class="ion-edit" style=""></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

<div class="col-md-8 col-md-offset-2 hojacurriculum" style="text-align:center">
    <div class="row">
            <div class="col-md-8">
                <div class="row curriculum">
                    <div class="perfilblock card">
                        <div class="titulos"><i class="ion-ios-book botonredondo" style="background-color:#019875"></i>Estudios</div>
                        <div ng-repeat="estudio in vm.estudios" class="bloqueperfil">
                            <b>{{estudio.curso}} en {{estudio.centro_estudios.nombre}}</b>
                            <div class="fechaestudio">
                            <b><i class="ion-calendar"></i> {{estudio.fechaInicio | date:medium}} -
                            <span ng-if="estudio.actualmente">Actualmente</span>
                            <span ng-if="!estudio.actualmente">{{estudio.fechaFinal | date: medium}}</span></b>
                            </div>
                            <p></p>
                            <p>{{estudio.descripcion}}</p>
                        </div>
                    </div>
                    <div class="perfilblock card">
                        <div class="titulos"><i class="ion-briefcase botonredondo" style="background-color:#A2602B"></i>Experiencia laboral</div>
                        <div ng-repeat="trabajoDTO in vm.trabajos" class="bloqueperfil">
                            <button ng-if="trabajoDTO.recomendacion.length > 0" class="viewRecomendation_button btn btn-link"><a ui-sref="perfil-recomendaciones({id_trabajo:trabajoDTO.trabajo.id})"><i class="ion-android-done"></i> {{trabajoDTO.recomendacion.length}}{{trabajoDTO.recomendacion.length == 1 && ' recomendación' || ' recomendaciones'}} </a></button>
                            <b>{{trabajoDTO.trabajo.cargo}} en {{trabajoDTO.trabajo.empresa.nombre}}</b>
                            <div class="fechaestudio">
                                <b><i class="ion-calendar"></i> {{trabajoDTO.trabajo.fechaInicio | date:medium}} -
                                    <span ng-if="trabajoDTO.trabajo.actualmente">Actualmente</span>
                                    <span ng-if="!trabajoDTO.trabajo.actualmente">{{trabajoDTO.trabajo.fechaFin | date: medium}}</span></b>
                            </div>
                            <p></p>
                            <p>{{trabajoDTO.trabajo.descripcionCargo}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-nw-small card" style="margin-top:10px;">

            <div class="titulos"><i class="ion-android-people botonredondo" style="background-color:#2574A9"></i>Contactos</div>
                <div ng-repeat="friend in vm.friends">
                    <img class="friendspictures" src="{{friend.imagen}}">
                    <span>{{friend.firstName}} {{friend.lastName}}</span>
                </div>
            </div>
        </div>
        </div>
</div>

<style>

    .titulos{
        display: inline-flex;
        align-items: center;
        color:#55ACEE;
    }

    .botonredondo{
        border-radius: 100%;
        padding: 5px;
        font-size: 22px;
        height: 32px;
        width: 33px;
        text-align:center;
        display: inline-block;
        margin: 10px;
        line-height: 0;
        color:white;
    }
.viewRecomendation_button {
    position: absolute;
    right: 10px;
    top: -10px;
}
    .topcabecera{
        margin-bottom:30px;
    }
.circulo{
    border-radius:100%;
    width:200px;
    height:200px;
    overflow:hidden;
    display: inline-block;

}

.redondo{
    border:1px solid #ccc;
    margin: 10px;
    background-color:#ebebeb;
    color:grey;
    max-width:90px;
    max-height:90px;

}
.redondo:hover{
    background-color:#55ACEE;
    color:white;
    border:1px solid #4d9dd6;
}
.imgcirculo{
    object-fit:cover;
}

    .cabeceraperfil{
        text-align: center;
    }

i.ioniconmedium {
    font-size: 18px;
}

i.ioniconbig{
    font-size: 32px;
}
    .marker{
        margin-left:7px;
        margin-right:7px;
    }

    .popover{
        background-color:#55ACEE;
        color:white;
        border:1px solid transparent;
    }
    .popover.bottom .arrow:after{
        border-bottom-color:#55ACEE;
    }

    .hojaperfil{
        background-color:white;
        border: 1px solid #ccc;
    }

    .hojacurriculum{
        margin-top:5px;
    }

    .titulohoja{
        background-color: #55ACEE;
        color:white;
        padding-top:5px;
        padding-bottom:5px;
    }

    .titulohoja a{

    }

    .datospersonales{
        color: #4d4d4d;
        text-align:left;
        padding-top:10px;
        padding-bottom:10px;
        //background-color: rgba(235, 235, 235, 0.4);
    }

    .curriculum{
        text-align:justify;
        padding:10px;
    }

    .titulosperfil{
        font-family:sans-serif;
        margin-left:20px;
        color: #55ACEE;
    }

    .titulohoja a{
        color: #deffc3;
    }

    .titulohoja a:hover{
        transition:0.7s;
        color:white;
    }

    .columna{
        background-color:white;

    }

    .columna:first-child{
        margin-right: 5px;
    }

    .hojacurriculum > .row > .container-fluid{
        padding-left:0px;
    }

    .col-nw-small{
        display: inline-block;
        width: 32.7%;
        float:left;
        text-align:left;
        height:200px;
    }

    @media (min-width: 992px) {
        .col-nw-small {
            width: 32.5%;
        }
    }

    @media (max-width: 992px) {
        .col-nw-small {
            width: 100%;
        }
        .columna:first-child {
            margin-right: 0px;
        }
    }


    .datospersonales > div{
        text-align: center;
    }

    .fechaestudio{
        float:right;
    }

    .bloqueperfil{
        //width: 560px;
        width: 100%;
        //padding:15px 35px;
        padding: 22px 35px 15px 35px;
        margin-bottom:5px;
        /*margin-left: auto;
        margin-right: auto;*/
        position: relative;
    }

    .cabecera{
        margin-left: 17.4%;
        width: 65.4%;
    }

    .bloqueperfil:last-child{
        margin-bottom:0px;
        border:0;
    }

    .bloqueperfil:not(:last-child):after{
        content: "";
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
        height:1px;
        width:80%;
        background-color: rgba(204, 204, 204, 0.77);
    }

    .card{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        background-color:white;
    }

    b{
        font-weight: 700;
    }

    .perfilblock{
        margin-bottom: 10px;
    }

    .perfilblock:last-child{
        margin-bottom:0px;
    }

    .datospersonales a{
        color: #4D4D4D;
    }

    .fixed-user{
        position: fixed;
        top: 50px;
        left: 0px;
        width: 100%;
        //height: 50px;
        background: rgb(255, 255, 255);
        z-index: 222;
        display: block;
        height: 0px;
        overflow: hidden;
        border-bottom: 1px solid rgb(239, 239, 239);
        transition: height .4s ease;
    }

    .fixed-user-container{
        background: white;
        margin-right: auto;
        margin-left: auto;
        width: 880px;
        height: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .fixed-user-image{
        height: 100%;
        width: auto;
        display: inline-flex;
        align-items: center;
    }

    .fixed-user-image .imgcirculo{
        height: 45px;
        width: 45px;
    }

    .fixed-user-name{
        height: 100%;
        vertical-align: top;
        display: inline-flex;
        align-items: center;
        font-size: 18px;
    }

    .editbuttons, .editbuttons2{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        background: transparent;
        border:0px;
    }

    .editbuttons:hover{
        border:0px;
        color:#524D4D;
        background-color: white;
    }

    .editbuttons2:hover{
        border:0px;
        color:white;
        background-color: #524D4D;
    }

    .titulohoja:hover .editbuttons {
        visibility: visible;
        opacity: 1;
    }

    .datospersonales:hover .editbuttons2 {
        visibility: visible;
        opacity: 1;
    }

    .fixedbarbuttons{
        background-color: transparent;
        color: rgb(3, 73, 123);
        border:0px;
    }

    .fixedbarbuttons:hover{
        border:0px;
        background-color: transparent;
        color: #55ACEE;
    }

    * {
        outline:none;
    }
    html{
        scroll-behavior: smooth;
    }

    .friendspictures{
        margin:10px;
        width:60px;
        height:60px;
        border-radius:100%;

    }

</style>
