<div>
    <h2 data-translate="littletimmyApp.recommend_notification.home.title">Recommend Notifications</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="recommend-notification.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="littletimmyApp.recommend_notification.home.createLabel">
                        Create new Recommend Notification
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'littletimmyApp.recommend_notification.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contenido"><span data-translate="littletimmyApp.recommend_notification.contenido">Contenido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaRecibida"><span data-translate="littletimmyApp.recommend_notification.fechaRecibida">Fecha Recibida</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="leida"><span data-translate="littletimmyApp.recommend_notification.leida">Leida</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receptor.login"><span data-translate="littletimmyApp.recommend_notification.receptor">Receptor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="recomendacion.id"><span data-translate="littletimmyApp.recommend_notification.recomendacion">Recomendacion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="emisor.login"><span data-translate="littletimmyApp.recommend_notification.emisor">Emisor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recommend_notification in vm.recommend_notifications track by recommend_notification.id">
                    <td><a ui-sref="recommend-notification-detail({id:recommend_notification.id})">{{recommend_notification.id}}</a></td>
                    <td>{{recommend_notification.contenido}}</td>
                    <td>{{recommend_notification.fechaRecibida | date:'medium'}}</td>
                    <td>{{recommend_notification.leida}}</td>
                    <td>
                        {{recommend_notification.receptor.login}}
                    </td>
                    <td>
                        <a ui-sref="recomendacion-detail({id:recommend_notification.recomendacion.id})">{{recommend_notification.recomendacion.id}}</a>
                    </td>
                    <td>
                        {{recommend_notification.emisor.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="recommend-notification-detail({id:recommend_notification.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="recommend-notification.edit({id:recommend_notification.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="recommend-notification.delete({id:recommend_notification.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
