<div>
    <h2 data-translate="littletimmyApp.messages.home.title">Messages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="messages.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="littletimmyApp.messages.home.createLabel">
                        Create new Messages
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'littletimmyApp.messages.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="littletimmyApp.messages.text">Text</span></th>
                    <th><span data-translate="littletimmyApp.messages.sendDate">Send Date</span></th>
                    <th><span data-translate="littletimmyApp.messages.sender">Sender</span></th>
                    <th><span data-translate="littletimmyApp.messages.chat">Chat</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="messages in vm.messages track by messages.id">
                    <td><a ui-sref="messages-detail({id:messages.id})">{{messages.id}}</a></td>
                    <td>{{messages.text}}</td>
                    <td>{{messages.sendDate | date:'medium'}}</td>
                    <td>
                        {{messages.sender.id}}
                    </td>
                    <td>
                        <a ui-sref="chat-detail({id:messages.chat.id})">{{messages.chat.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="messages-detail({id:messages.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="messages.edit({id:messages.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="messages.delete({id:messages.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
