
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFriendship_notificationLabel" data-translate="littletimmyApp.friendship_notification.home.createOrEditLabel">Create or edit a Friendship Notification</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.friendship_notification.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.friendship_notification.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="littletimmyApp.friendship_notification.fechaRecibida" for="field_fechaRecibida">Fecha Recibida</label>
                <div class="input-group">
                    <input id="field_fechaRecibida" type="text" class="form-control" name="fechaRecibida" datetime-picker="{{dateformat}}" ng-model="vm.friendship_notification.fechaRecibida" is-open="vm.datePickerOpenStatus.fechaRecibida"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaRecibida')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="littletimmyApp.friendship_notification.leida" for="field_leida">Leida</label>
            <input type="checkbox" class="form-control" name="leida" id="field_leida"
                    ng-model="vm.friendship_notification.leida"
                     />
        </div>

        <div class="form-group">
            <label data-translate="littletimmyApp.friendship_notification.receptor" for="field_receptor">Receptor</label>
            <select class="form-control" id="field_receptor" name="receptor" ng-model="vm.friendship_notification.receptor" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="littletimmyApp.friendship_notification.friendship" for="field_friendship">Friendship</label>
            <select class="form-control" id="field_friendship" name="friendship" ng-model="vm.friendship_notification.friendship" ng-options="friend_user as friend_user.id for friend_user in vm.friend_users track by friend_user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="littletimmyApp.friendship_notification.emisor" for="field_emisor">Emisor</label>
            <select class="form-control" id="field_emisor" name="emisor" ng-model="vm.friendship_notification.emisor" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
