<div>
    <h2 data-translate="littletimmyApp.empresa.home.title">Empresas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="empresa.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="littletimmyApp.empresa.home.createLabel">
                        Create new Empresa
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'littletimmyApp.empresa.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="littletimmyApp.empresa.nombre">Nombre</span></th>
                    <th><span data-translate="littletimmyApp.empresa.numEmpleados">Num Empleados</span></th>
                    <th><span data-translate="littletimmyApp.empresa.ubicacion">Ubicacion</span></th>
                    <th><span data-translate="littletimmyApp.empresa.latitud">Latitud</span></th>
                    <th><span data-translate="littletimmyApp.empresa.longitud">Longitud</span></th>
                    <th><span data-translate="littletimmyApp.empresa.fechaFundacion">Fecha Fundacion</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="empresa in vm.empresas track by empresa.id">
                    <td><a ui-sref="empresa-detail({id:empresa.id})">{{empresa.id}}</a></td>
                    <td>{{empresa.nombre}}</td>
                    <td>{{empresa.numEmpleados}}</td>
                    <td>{{empresa.ubicacion}}</td>
                    <td>{{empresa.latitud}}</td>
                    <td>{{empresa.longitud}}</td>
                        <td>{{empresa.fechaFundacion | date:'yyyy'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="empresa-detail({id:empresa.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="empresa.edit({id:empresa.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="empresa.delete({id:empresa.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
