<div>
    <h2 translate="littletimmyApp.estudios.home.title">Estudios</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="estudios.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="littletimmyApp.estudios.home.createLabel">
                        Create new Estudios
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'littletimmyApp.estudios.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="littletimmyApp.estudios.fechaInicio">FechaInicio</span></th>
                    <th><span translate="littletimmyApp.estudios.fechaFinal">FechaFinal</span></th>
                    <th><span translate="littletimmyApp.estudios.actualmente">Actualmente</span></th>
                    <th><span translate="littletimmyApp.estudios.curso">Curso</span></th>
                    <th><span translate="littletimmyApp.estudios.nota">Nota</span></th>
                    <th><span translate="littletimmyApp.estudios.descripcion">Descripcion</span></th>
                    <th><span translate="littletimmyApp.estudios.archivos">Archivos</span></th>
                    <th><span translate="littletimmyApp.estudios.link">Link</span></th>
                    <th><span translate="littletimmyApp.estudios.centro">centro</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="estudios in vm.estudios track by estudios.id">
                    <td><a ui-sref="estudios-detail({id:estudios.id})">{{estudios.id}}</a></td>
                        <td>{{estudios.fechaInicio | date:'mediumDate'}}</td>
                        <td>{{estudios.fechaFinal | date:'mediumDate'}}</td>
                    <td>{{estudios.actualmente}}</td>
                    <td>{{estudios.curso}}</td>
                    <td>{{estudios.nota}}</td>
                    <td>{{estudios.descripcion}}</td>
                    <td><a ng-click="vm.openFile(estudios.archivosContentType, estudios.archivos)" ng-if="estudios.archivos" target="_blank">open</a>
                        {{estudios.archivosContentType}}, {{byteSize(estudios.archivos)}}</td>
                    <td>{{estudios.link}}</td>
                    <td>
                        <a ui-sref="centro-detail({id:estudios.centro.id})">{{estudios.centro.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="estudios-detail({id:estudios.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="estudios.edit({id:estudios.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="estudios.delete({id:estudios.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
