
<div>
    <h2><span translate="littletimmyApp.estudios.detail.title">Estudios</span> {{vm.estudios.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="littletimmyApp.estudios.fechaInicio">FechaInicio</dt></dt>
        <dd>
            <span>{{vm.estudios.fechaInicio | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="littletimmyApp.estudios.fechaFinal">FechaFinal</dt></dt>
        <dd>
            <span>{{vm.estudios.fechaFinal | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="littletimmyApp.estudios.actualmente">Actualmente</dt></dt>
        <dd>
            <span>{{vm.estudios.actualmente}}<span>
        </dd>
        <hr>
        <dt><span translate="littletimmyApp.estudios.curso">Curso</dt></dt>
        <dd>
            <span>{{vm.estudios.curso}}<span>
        </dd>
        <hr>
        <dt><span translate="littletimmyApp.estudios.nota">Nota</dt></dt>
        <dd>
            <span>{{vm.estudios.nota}}<span>
        </dd>
        <hr>
        <dt><span translate="littletimmyApp.estudios.descripcion">Descripcion</dt></dt>
        <dd>
            <span>{{vm.estudios.descripcion}}<span>
        </dd>
        <hr>
        <dt><span translate="littletimmyApp.estudios.archivos">Archivos</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.estudios.archivosContentType, vm.estudios.archivos)" ng-if="vm.estudios.archivos" target="_blank">open</a>
            <div>{{vm.estudios.archivosContentType}}, {{vm.byteSize(vm.estudios.archivos)}}</div>
        </dd>
        <hr>
        <dt><span translate="littletimmyApp.estudios.link">Link</dt></dt>
        <dd>
            <span>{{vm.estudios.link}}<span>
        </dd>
        <hr>
        <dt><span translate="littletimmyApp.estudios.centro">centro</span></dt>
        <dd>
            <a ui-sref="centro-detail({id:vm.estudios.centro.id})">{{vm.estudios.centro.nombre}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
