body{
    background-color:whitesmoke;
}
#contentapp{
    padding-top: 80px;
}

.navbar-brand.logo{
    color:white;
}

.navbar-brand.logo:hover{
    color:#ebebeb;
}

.navbar{
    background-color: #55acee;
    border-width:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    position:fixed;
    color:white;
    top:0;
    left:0;
    right:0;
    z-index: 20;
    transition:background 0.5s linear;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: rgba(0,0,0, 0.1);
    color:white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background: rgba(0,0,0, 0.1);
    color:white;
}

.navbar ul li:not(.active):hover{
    background: rgba(0,0,0, 0.1);
}

.navbar ul li:not(.active):hover>a{
    color:white;
}

/*.footer{
    background: rgba(39,40,35, 1);
    height:500px;
    width:100%;
}*/
