<div>
    <h2 data-translate="littletimmyApp.friend_user.home.title">Friend Users</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="friend-user.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="littletimmyApp.friend_user.home.createLabel">
                        Create new Friend User
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'littletimmyApp.friend_user.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="friendship"><span data-translate="littletimmyApp.friend_user.friendship">Friendship</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="friendship_date"><span data-translate="littletimmyApp.friend_user.friendship_date">Friendship Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="friend_from.login"><span data-translate="littletimmyApp.friend_user.friend_from">Friend From</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="friend_to.login"><span data-translate="littletimmyApp.friend_user.friend_to">Friend To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="friend_user in vm.friend_users track by friend_user.id">
                    <td><a ui-sref="friend-user-detail({id:friend_user.id})">{{friend_user.id}}</a></td>
                    <td>{{friend_user.friendship}}</td>
                    <td>{{friend_user.friendship_date | date:'medium'}}</td>
                    <td>
                        {{friend_user.friend_from.login}}
                    </td>
                    <td>
                        {{friend_user.friend_to.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="friend-user-detail({id:friend_user.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="friend-user.edit({id:friend_user.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="friend-user.delete({id:friend_user.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
